---
import AccessDenied from "../../components/AccessDenied.astro";
import AdminPanel from "../../components/AdminSideBar";
import type { User } from "../../utils/type";

const user: User | null = Astro.locals.user;
---

{
  user !== null ? (
    <>
      <AdminPanel client:only="react" user={user} />
      <div class="px-10 basis-[78%]">
        <h3 class="text-3xl text-blue-900 fixed bg-white w-full py-6">
          Dashboard
        </h3>
        <div class="max-h-screen overflow-y-auto">
          <div class="pt-20">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
          </>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
          </>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
          </>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iure
            animi ut quis perspiciatis fugiat eligendi impedit consectetur quia
            sit veritatis porro, culpa id pariatur quidem consequatur! Eveniet,
            quod quidem?
          </div>
          <>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
            <div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus
              iure animi ut quis perspiciatis fugiat eligendi impedit
              consectetur quia sit veritatis porro, culpa id pariatur quidem
              consequatur! Eveniet, quod quidem?
            </div>
          </>
        </div>
      </div>
    </>
  ) : (
    <AccessDenied />
  )
}
